/*components*/
@import url("components/header_nav.css");
@import url("components/info-card.css");

@import url("components/footer.css");

/*pages*/
@import url("pages/about-me.css");
@import url("pages/homepage.css");

@import url("pages/case-study.css");

@import url("pages/adidas.css");


*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --ff-primary: 'Poppins', sans-serif;

    --fw-light: 100;
    --fw-reg: 300;
    --fw-bold: 700;

    --clr-light: #FFFFFF;
    --clr-yellow: #FCC425;
    --clr-yellow-hover: #EBB722;

    --clr-red: #DE8578;
    --clr-red-hover: #D27A6D;

    --clr-pink: #F5BCCF;
    --clr-pink-hover: #E89DB6;

    --clr-purple: #ACB9ED;
    --clr-purple-hover: #8B9EE9;


    --clr-green:  #6EC7B2;
    --clr-green-hover:  #5AB09C;


    --clr-accent: #E7DDC1;
    --clr-text: #000000;

    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-body: 1.2rem;
    --fs-nav-sub: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}




/* General styles */

/*  add smooth scrolling */
 html {
    scroll-behavior: smooth;
}


body {
/*    background: var(--clr-light);
*/
    color: var(--clr-text);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight:  var(--fw-reg);
    line-height: 1.6;
}




.intro, footer {
/*    padding: 5em 6em;*/
  padding: 14em 7em;
  text-align: center;
}


.case_study_color_header {
  padding: 10em 7em;

}



@media only screen and (max-width: 800px)  {
  .intro {
    padding: 14em 5em;
  }
}


@media only screen and (max-width: 1100px)  {
  .nav_logo {
    display: none;
  }
}


@media only screen and (min-width: 1010px)  {
  .nav {
   font-size: 1.1rem;
  }

}


/*is less than or equal to 900px*/
@media only screen and (max-width: 1100px)  {

  .nav {
    bottom: 0%;
    left: 50%;
    right: 0;
  }
  .nav__list {
    flex-direction: column;
  }

}


:focus {
    /*outline: 3px solid var(--clr-accent);
    outline-offset: 2px;*/
}

/* Typography */

h1, h2{

    margin: 0;
  }

h1 {
  line-height: 1;
}

h2
{
    line-height: 1.5;

}

h1 {
  font-size: var(--fs-h1);
 font-weight: var(--fw-reg);
}

h2 {
  font-size: var(--fs-h2);
font-weight: var(--fw-reg);
 }


strong {
  font-weight: var(--fw-bold);
}
/*.section__title {
    margin-bottom: .5em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}



.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
/*    margin-bottom: 2em;
*/
/*
.section__subtitle--work-2 {
      margin-bottom: 2em;
      */

a, .view_link {
 text-decoration: none;

}



.view_link {
  color:white;
 }



/*
.other-project-description {
  font-weight: lighter;
}*/
