
.footer {
    color: var(--clr-dark);
    text-align: center;
    padding: 2.5em 68px 1rem;
    font-size: var(--fs-h3);

}




.footer__text {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link-call {
  color: var(--clr-yellow);
  transition: all 500ms ease-in-out;

  font-weight: var(--fw-bold);

}

.social-list__link {
    padding: .5em;
    color: var(--clr-red);
    transition: all 500ms ease-in-out;

}

.footer__link-call:hover {
    color: var(--clr-yellow-hover);



}
.social-list__link:hover {
  color: var(--clr-red-hover);
}

/*.footer__link:hover {
    text-decoration: underline;
}*/

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    color: var(--clr-purple);
    font-size: 2em;
}


.fa-mug-hot {
  margin-right: 0.1em;
}

.footer-coded-info {
  display: flex;
  justify-content: center;
}

.footer-coded-info p {

  margin: 2rem 0 1rem;
  font-size: 1rem;
}


