.about-me-container {
  display: flex;
  justify-content: space-between;
  padding: 4em 7em;
  position: relative;
  background: var(--clr-purple);


  }


.about-me-card {
  background: var(--clr-pink);
  position: absolute;
  left: 110px;
  top: 150px;

}


.about-me__picture {
  height: 500px;

}



.about_me_text {

    margin-left: 6rem;
    background: white;
    display: block;
    padding: 4rem 9rem;
    line-height: 2.3;
}


.about-left-side {
  display: flex;
  flex-direction: column;
}
