/*intro section*/
.intro {
  background: var(--clr-yellow);
  color: white;
  text-align: center;
}

.section__subtitle_intro {
    letter-spacing: 19px;
}

/* study cases divs*/
.my-work-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 300ms ease-in-out;

  }


.my-work-item:hover {


}

.item_info_left {
  justify-content: flex-start;
}

.item_info_right {
  justify-content: flex-start;
}

.nav_subtitle {
  font-size: var(--fs-nav-sub): 12px;
}



.project_picture_container img {
  display: block;
  width: 100%;
  height: auto;
}

.project_info_container {
  padding: 0 4rem;
}



/*latest case*/

.my-work__first-project {
  background: var(--clr-purple);
}

.my-work__first-project:hover {
  background: var(--clr-purple-hover);
}


/*second case*/
.my-work__second-project, .my_work__other-projects {
  background: var(--clr-green);
  justify-content: flex-start;

}

.my-work__second-project:hover, .my_work__other-projects:hover {
  background: var(--clr-green-hover);
  justify-content: flex-start;


}



/*aadidas case*/
.my-work__adidas-project {
  background: var(--clr-pink);

}

.my-work__adidas-project:hover {
  background: var(--clr-pink-hover);

}



/*third case*/
.my-work__third-project {
  background: var(--clr-green);
}

.my-work__third-project:hover {
  background: var(--clr-green-hover);
}




/*other cases*/
.my-work__other-projects {
  background: var(--clr-red);

}

.my-work__other-projects:hover{
  background: var(--clr-red-hover);

}



 .view-study-case {
  display: flex;
  align-items: center;

 }




/*  media queries */

 /*is +s than or equal to 900px*/

@media only screen and (min-width: 375px) {
  .my-work__first-project, .my-work__adidas-project {
    flex-direction: column;}

 .project_info_container {
  padding: 4rem;

  }

  .last-project-right{
    padding: 2rem;
  }

}

@media only screen and (min-width: 375px) {
  .my-work__second-project, .my-work__other-projects{
    flex-direction: column-reverse;
  }
}



/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 758px) {
  .my-work-item {
    flex-direction: row;
  }
}


