/*intro section*/
.intro {
  background: var(--clr-yellow);
  color: white;
  text-align: center;
}

.section__subtitle_intro {
    letter-spacing: 19px;
}

/* study cases divs*/
.my-work-item {
  display: flex;
  align-items: center;
   justify-content: space-between;
  }

.item_info_left {
  justify-content: flex-start;
}


.item_info_right {
  justify-content: flex-start;
}




.nav_subtitle {
  font-size: var(--fs-nav-sub): 12px;
}

/*.project_info_container {

  padding: 15rem 9rem;
}
*/

.project_picture_container img {
  display: block;
  width: 100%;
  height: auto;

}


.project_info_container {
  padding: 0 4rem;
}



/*latest case*/

.my-work__first-project {
  background: var(--clr-purple);
}


/*.first_project_info_card:hover {
  background: var(--clr-pink-hover);
 }
*/



/*second case*/
.my-work__second-project, .my_work__other-projects {
  background: var(--clr-green);
  justify-content: flex-start;

}



/*aadidas case*/
.my-work__adidas-project {
  background: var(--clr-pink);

}



/*first case*/
.my-work__third-project {
  background: var(--clr-green);
}



 .third_project_picture {

    }


/*other cases*/
.my-work__other-projects {
  background: var(--clr-red);

}


.other_projects_picture {

}


 .view-study-case {
  display: flex;
  align-items: center;

 }




/*  media queries */

 /*is +s than or equal to 900px*/

@media only screen and (min-width: 375px) {
  .my-work__first-project, .my-work__adidas-project {
    flex-direction: column;}

 .project_info_container {
  padding: 4rem;

  }

}

@media only screen and (min-width: 375px) {
  .my-work__second-project, .my-work__other-projects{
    flex-direction: column-reverse;
  }

 /* .project_info_container {
  padding: 4rem;*/
}

/*@media only screen and (min-width: 375px) {
  .my-work__other-projects{
  padding: 4rem;
  }

  }
*/



/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 758px) {
  .my-work-item {
    flex-direction: row;
  }
}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

